body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://images.unsplash.com/photo-1574169208507-84376144848b?q=80&w=1779&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.custom-shape-divider-bottom-1708533644 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1708533644 svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 237px;
}

.custom-shape-divider-bottom-1708533644 .shape-fill {
  fill: #ffffff;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer .footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .footer-content .section {
  flex: 1;
  margin: 0 10px;
}

.footer .footer-content .section h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer .footer-content .section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer .footer-content .section ul li {
  margin-bottom: 10px;
}

.footer .footer-legals {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .footer .footer-content {
    flex-direction: column;
  }

  .footer .footer-content .section {
    margin: 10px 0;
  }
}
.row no-gutters row-bordered row-border-light {
  transition: all 1s;
}

.row no-gutters row-bordered row-border-light:hover {
  box-shadow: var(--box-shadow);
}

.prof {
  width: 5 rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 50%;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

label.btn {
  margin-bottom: 0;
}

.form-label {
  color: #ff7782;
}

.text-light {
  color: #babbbc !important;
}

.btn-facebook {
  border-color: rgba(0, 0, 0, 0);
  background: #3b5998;
  color: #fff;
}

.btn-instagram {
  border-color: rgba(0, 0, 0, 0);
  background: #000;
  color: #fff;
}

.card {
  background-clip: padding-box;
  box-shadow: 0 1px 4px rgba(26, 33, 24, 0.012);
}

.row-bordered {
  overflow: hidden;
}

.clr {
  color: #ff7782;
}

.account-settings-fileinput {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
  background: transparent !important;
}

.account-settings-multiselect ~ .select2-container {
  width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
  color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
  color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
  color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
  color: #ff7782 !important;
  /* button click karte toh text ka color */
}

.light-style .account-settings-links .list-group-item {
  padding: 0.85rem 1.5rem;
  border-color: rgba(109, 29, 141, 0.03) !important;
}

/* my order  */

h2 {
  margin-top: 0;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.checkout-btn:hover {
  background-color: #0056b3;
}

.product-img {
  width: 100px;
  border-radius: 8px;
}

.product-description {
  max-width: 300px;
}

.ordc {
  color: #ff7782;
}
